.Rproj.user
.Rhistory
.RData
.Ruserdata
C:/Users/hmz25/Desktop/github/tx-juas/processed-data
C:/Users/hmz25/Desktop/github/tx-juas/raw-data/eye_level_drone_pics
C:/Users/hmz25/Desktop/github/tx-juas/raw-data/quadrat_drone_pics
C:/Users/hmz25/Desktop/github/tx-juas/raw-data/field_data_jan24